/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Nandine PSD Template
Version:    1.0
Last change:    10/05/20 [fixed Float bug, vf]
Author Name: Md.Sujon Ahmed
Primary use:    HTML Template
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/
/*font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
html,body{
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
body{
	font-family: 'Raleway', sans-serif;
}

/*
==========================================
    Header Area
==========================================
*/
.header-area{
	background: url('../img/header-bg.jpg');
	background-size: cover;
	background-position: center center;
	height: 100%;
	position: relative;
}
.color-overlay{
	content: '';
	position: absolute;
	background: #7d7974;
	width: 100%;
	height: 100px;
	opacity: 80%;
}
.header-area:before{
	content: '';
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 51%;
}
.header-area .logo{
	display: inline-block;
}
.header-area .logo img {
    margin-top: 16px;
}
.main-menu{
	float: right;
}
.main-menu ul{	
}
.main-menu ul li {
    display: inline-block;
    margin-left: 39px;
}
.main-menu ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15px;
    display: block;
    transition: .3s;
    text-decoration: none;
    line-height: 0;
    padding: 50px 0;
    text-transform: uppercase;
}
.main-menu ul li a:hover{
	color: #ff0000;
	font-weight: 700;
}
.header-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.header-content h1 {
    font-size: 64px;
    color: #fff;
    font-weight: 500;
    letter-spacing: .15px;
    line-height: 64px;
    margin-bottom: 50px;
}
.header-content h1 span {
    color: #ff0000;
}
.header-content p {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 60px;
}
.btn-theme {
    padding: 20px 62px;
    background: #ff0000;
    border-radius: 0;
    font-size: 22px;
    color: #fff;
    border: 3px solid #ff0000;
    font-weight: 600;
    border: 2px solid #ff0000;
    text-transform: uppercase;
    transition: .3s;
}
.btn-theme:hover{
	background: none;
	color: #fff;
}